In [1]:
import pandas as pd
train = pd.read_csv('train.csv')
train

,unique_id,loan_amount,loan_manager_id,asset_cost,loan_to_asset_value_ratio,asset_manufacturer_id,applicant_age,area_code,employment_type,mobile_no_available,...,avg_account_age,credit_history_length,no_of_inquiries_in_last_month,no_of_loan_accounts,active_loan_accounts,overdue_accounts,existing_loan_balance,total_disbursed_amount,current_installment,loan_defaulted
0,0,63849,864,68552,72.982096,45,39,778,Self employed,True,...,0.003406,0.012300,0,0,0,0,3494,715120,856,False
1,1,41184,1192,67662,85.834732,45,45,4,Salaried,True,...,0.004420,0.015735,0,3,1,0,4784,7147,902,True
2,2,68313,2113,67793,75.759736,86,44,18,Self employed,True,...,0.011542,0.028924,0,0,1,0,8764,11188,1219,False
3,3,61636,1139,68504,73.364297,45,27,2448,Self employed,True,...,0.011758,0.550731,0,28,0,0,81808,5932,1159,False
4,4,51532,2455,65369,43.920441,86,27,6276,Self employed,True,...,0.415353,3.359229,1,0,3,1,322731,3033357,8196,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38541,38541,40434,54,99210,75.403425,51,37,3340,Self employed,True,...,0.001142,1.775320,1,1,1,0,62519,5285,1269,False
38542,38542,41293,854,70186,77.421091,86,33,3005,Salaried,True,...,0.008575,0.265111,0,2,0,0,221733,6480,2009,False
38543,38543,58229,352,66830,54.637086,45,35,2578,Self employed,True,...,0.002024,0.011790,0,5,0,0,329824,14741,2795,False
38544,38544,63852,227,100958,82.189639,86,25,2708,Self employed,True,...,0.001378,0.022202,0,2,0,0,4228,9783,2448,True
38545,38545,47936,2807,70844,86.870722,45,37,2825,Self employed,True,...,0.009913,0.422326,0,0,2,0,3651,22934,1043,False

In [2]:
X = train.drop(columns=['loan_defaulted'])  # Replace with your actual target column name
y = train['loan_defaulted']
X, y

(       unique_id  loan_amount  loan_manager_id  asset_cost  \
 0              0        63849              864       68552
 1              1        41184             1192       67662
 2              2        68313             2113       67793
 3              3        61636             1139       68504
 4              4        51532             2455       65369
 ...          ...          ...              ...         ...
 38541      38541        40434               54       99210
 38542      38542        41293              854       70186
 38543      38543        58229              352       66830
 38544      38544        63852              227      100958
 38545      38545        47936             2807       70844

        loan_to_asset_value_ratio  asset_manufacturer_id  applicant_age  \
 0                      72.982096                     45             39
 1                      85.834732                     45             45
 2                      75.759736                     86             44
 3                      73.364297                     45             27
 4                      43.920441                     86             27
 ...                          ...                    ...            ...
 38541                  75.403425                     51             37
 38542                  77.421091                     86             33
 38543                  54.637086                     45             35
 38544                  82.189639                     86             25
 38545                  86.870722                     45             37

        area_code employment_type  mobile_no_available  ...  \
 0            778   Self employed                 True  ...
 1              4        Salaried                 True  ...
 2             18   Self employed                 True  ...
 3           2448   Self employed                 True  ...
 4           6276   Self employed                 True  ...
 ...          ...             ...                  ...  ...
 38541       3340   Self employed                 True  ...
 38542       3005        Salaried                 True  ...
 38543       2578   Self employed                 True  ...
 38544       2708   Self employed                 True  ...
 38545       2825   Self employed                 True  ...

        overdue_accounts_in_last_6_months  avg_account_age  \
 0                                      0         0.003406
 1                                      0         0.004420
 2                                      0         0.011542
 3                                      0         0.011758
 4                                      0         0.415353
 ...                                  ...              ...
 38541                                  0         0.001142
 38542                                  0         0.008575
 38543                                  0         0.002024
 38544                                  0         0.001378
 38545                                  0         0.009913

        credit_history_length  no_of_inquiries_in_last_month  \
 0                   0.012300                              0
 1                   0.015735                              0
 2                   0.028924                              0
 3                   0.550731                              0
 4                   3.359229                              1
 ...                      ...                            ...
 38541               1.775320                              1
 38542               0.265111                              0
 38543               0.011790                              0
 38544               0.022202                              0
 38545               0.422326                              0

        no_of_loan_accounts  active_loan_accounts  overdue_accounts  \
 0                        0                     0                 0
 1                        3                     1                 0
 2                        0                     1                 0
 3                       28                     0                 0
 4                        0                     3                 1
 ...                    ...                   ...               ...
 38541                    1                     1                 0
 38542                    2                     0                 0
 38543                    5                     0                 0
 38544                    2                     0                 0
 38545                    0                     2                 0

        existing_loan_balance  total_disbursed_amount  current_installment
 0                       3494                  715120                  856
 1                       4784                    7147                  902
 2                       8764                   11188                 1219
 3                      81808                    5932                 1159
 4                     322731                 3033357                 8196
 ...                      ...                     ...                  ...
 38541                  62519                    5285                 1269
 38542                 221733                    6480                 2009
 38543                 329824                   14741                 2795
 38544                   4228                    9783                 2448
 38545                   3651                   22934                 1043

 [38546 rows x 27 columns],
 0        False
 1         True
 2        False
 3        False
 4        False
          ...
 38541    False
 38542    False
 38543    False
 38544     True
 38545    False
 Name: loan_defaulted, Length: 38546, dtype: bool)

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [43]:
X

,unique_id,loan_amount,loan_manager_id,asset_cost,loan_to_asset_value_ratio,asset_manufacturer_id,applicant_age,area_code,employment_type,mobile_no_available,...,overdue_accounts_in_last_6_months,avg_account_age,credit_history_length,no_of_inquiries_in_last_month,no_of_loan_accounts,active_loan_accounts,overdue_accounts,existing_loan_balance,total_disbursed_amount,current_installment
0,0,63849,864,68552,72.982096,45,39,778,Self employed,True,...,0,0.003406,0.012300,0,0,0,0,3494,715120,856
1,1,41184,1192,67662,85.834732,45,45,4,Salaried,True,...,0,0.004420,0.015735,0,3,1,0,4784,7147,902
2,2,68313,2113,67793,75.759736,86,44,18,Self employed,True,...,0,0.011542,0.028924,0,0,1,0,8764,11188,1219
3,3,61636,1139,68504,73.364297,45,27,2448,Self employed,True,...,0,0.011758,0.550731,0,28,0,0,81808,5932,1159
4,4,51532,2455,65369,43.920441,86,27,6276,Self employed,True,...,0,0.415353,3.359229,1,0,3,1,322731,3033357,8196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38541,38541,40434,54,99210,75.403425,51,37,3340,Self employed,True,...,0,0.001142,1.775320,1,1,1,0,62519,5285,1269
38542,38542,41293,854,70186,77.421091,86,33,3005,Salaried,True,...,0,0.008575,0.265111,0,2,0,0,221733,6480,2009
38543,38543,58229,352,66830,54.637086,45,35,2578,Self employed,True,...,0,0.002024,0.011790,0,5,0,0,329824,14741,2795
38544,38544,63852,227,100958,82.189639,86,25,2708,Self employed,True,...,0,0.001378,0.022202,0,2,0,0,4228,9783,2448
38545,38545,47936,2807,70844,86.870722,45,37,2825,Self employed,True,...,0,0.009913,0.422326,0,0,2,0,3651,22934,1043

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from flaml import AutoML
import pandas as pd
import joblib
# Identify columns
num_cols = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
cat_cols = X.select_dtypes(include=['object', 'bool']).columns.tolist()

['preprocessor.pkl']

In [42]:
import numpy as np
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X[num_cols])
X_val = scaler.transform(X[num_cols])
X_val = np.c_[X_val,X[cat_cols]]

# Build a preprocessing pipeline
preprocessor = ColumnTransformer([
    ('num', StandardScaler(), num_cols),
    ('cat', OneHotEncoder(handle_unknown='ignore'), cat_cols)
])

# Fit the preprocessing pipeline and transform training data
X_train_preprocessed = preprocessor.fit_transform(X_train)
X_val_preprocessed = preprocessor.transform(X_val)

# Save the preprocessor
joblib.dump(preprocessor, 'preprocessor.pkl')

ValueError: X has 20 features, but ColumnTransformer is expecting 27 features as input.

In [29]:
num_cols

['unique_id',
 'loan_amount',
 'loan_manager_id',
 'asset_cost',
 'loan_to_asset_value_ratio',
 'asset_manufacturer_id',
 'applicant_age',
 'area_code',
 'credit_score',
 'new_loan_accounts_in_last_6_months',
 'overdue_accounts_in_last_6_months',
 'avg_account_age',
 'credit_history_length',
 'no_of_inquiries_in_last_month',
 'no_of_loan_accounts',
 'active_loan_accounts',
 'overdue_accounts',
 'existing_loan_balance',
 'total_disbursed_amount',
 'current_installment']

In [35]:
cat_cols.remove('mobile_no_available')
cat_cols

['employment_type',
 'aadhaar_available',
 'pan_available',
 'voter_id_available',
 'driving_licence_available',
 'passport_available']

In [44]:
num_cols

['asset_manufacturer_id',
 'area_code',
 'credit_score',
 'new_loan_accounts_in_last_6_months',
 'overdue_accounts_in_last_6_months',
 'avg_account_age',
 'credit_history_length',
 'no_of_inquiries_in_last_month',
 'no_of_loan_accounts',
 'active_loan_accounts',
 'overdue_accounts',
 'existing_loan_balance',
 'total_disbursed_amount',
 'current_installment']

In [38]:
import joblib
from flaml import AutoML
#automl_loaded = joblib.load('automl_model.pkl')
#preds = automl_loaded.predict(X_val)

# Load
model = joblib.load('best_model.pkl')
transformer = joblib.load('data_transformer.pkl')
# Use
X_val_transformed = transformer.transform(X_val)
preds = model.predict(X_val_transformed)

AttributeError: 'DataTransformer' object has no attribute '_cat_columns'

In [37]:
# Load both components
model = joblib.load('best_model.pkl')
preprocessor = joblib.load('preprocessor.pkl')
# Transform validation/test data
X_val_preprocessed = preprocessor.transform(X_val)
# Predict
preds = model.predict(X_val_preprocessed)

ValueError: X has 33 features, but ExtraTreesClassifier is expecting 20 features as input.

In [6]:
!jupyter nbconvert --to script FastApi.ipynb

[NbConvertApp] Converting notebook FastApi.ipynb to script
[NbConvertApp] Writing 3256 bytes to FastApi.py

In [7]:
import cloudpickle
with open("automl_pipeline.pkl", "rb") as f:
    model = cloudpickle.load(f)
    
import pandas as pd
import joblib

# Load your saved pipeline
model = joblib.load("automl_pipeline.pkl")

# Create a sample input dictionary (modify values as needed)
sample_data = {
  "asset_manufacturer_id": 86,
  "area_code": 2959,
  "credit_score": 823,
  "new_loan_accounts_in_last_6_months": 0,
  "overdue_accounts_in_last_6_months": 0,
  "avg_account_age": 0.691032208812971,
  "credit_history_length": 0.70348138983163,
  "no_of_inquiries_in_last_month": 0,
  "no_of_loan_accounts": 0,
  "active_loan_accounts": 0,
  "overdue_accounts": 0,
  "existing_loan_balance": 12,
  "total_disbursed_amount": 11188,
  "current_installment": 1219,
  "employment_type": "Self employed",
  "aadhaar_available": True,
  "pan_available": False,
  "voter_id_available": False,
  "driving_licence_available": False,
  "passport_available": False
}

# Convert to DataFrame
input_df = pd.DataFrame([sample_data])

# Predict
prediction = model.predict(input_df)

# Output result
print("Predicted class:", prediction[0])

Predicted class: 0